@model IEnumerable<StateData>
@{
    var firstRow = Model.First();
}
<table class="table table-sm table-striped table-responsive">
    <thead>
        <tr>
            <th><span asp-for="@firstRow.Date" data-toggle="tooltip"></span></th>
            <th><span asp-for="@firstRow.DataQualityGrade" data-toggle="tooltip"></span></th>
            <th><span asp-for="@firstRow.Death" data-toggle="tooltip"></span></th>
            <th><span asp-for="@firstRow.Death Confirmed" data-toggle="tooltip"></span></th>
            <th><span asp-for="@firstRow.Death Increase" data-toggle="tooltip"></span></th>
            <th><span asp-for="@firstRow.Death Probably" data-toggle="tooltip"></span></th>
            <th><span asp-for="@firstRow.HospitalizedCumulative" data-toggle="tooltip"></span></th>
            <th><span asp-for="@firstRow.HospitalizedIncrease" data-toggle="tooltip"></span></th>
            <th><span asp-for="@firstRow.InIcuCumulative" data-toggle="tooltip"></span></th>
            <th><span asp-for="@firstRow.InIcuCurrently" data-toggle="tooltip"></span></th>
            <th><span asp-for="@firstRow.Negative" data-toggle="tooltip"></span></th>
            <th><span asp-for="@firstRow.NegativeTestsViral" data-toggle="tooltip"></span></th>
            <th><span asp-for="@firstRow.OnVentilatorCumulative" data-toggle="tooltip"></span></th>
            <th><span asp-for="@firstRow.OnVentilatorCurrently" data-toggle="tooltip"></span></th>
            <th><span asp-for="@firstRow.Pending" data-toggle="tooltip"></span></th>
            <th><span asp-for="@firstRow.Positive" data-toggle="tooltip"></span></th>
            <th><span asp-for="@firstRow.PositiveCasesViral" data-toggle="tooltip"></span></th>
            <th><span asp-for="@firstRow.PositiveIncrease" data-toggle="tooltip"></span></th>
            <th><span asp-for="@firstRow.PositiveTestsViral" data-toggle="tooltip"></span></th>
            <th><span asp-for="@firstRow.Recovered" data-toggle="tooltip"></span></th>
            <th><span asp-for="@firstRow.TotalTestResults" data-toggle="tooltip"></span></th>
            <th><span asp-for="@firstRow.TotalTestResults Increase" data-toggle="tooltip"></span></th>
            <th><span asp-for="@firstRow.TotalTestsViral" data-toggle="tooltip"></span></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var stateData in Model)
        {
            <tr>
                <td class="text-right">@stateData.Date.ToShortDateString()</td>
                <td class="text-right">@stateData.DataQualityGrade</td>
                <td class="text-right">@Utilities.FormatNullableInt(stateData.Death)</td>
                <td class="text-right">@Utilities.FormatNullableInt(stateData.DeathConfirmed)</td>
                <td class="text-right">@Utilities.FormatNullableInt(stateData.DeathIncrease)</td>
                <td class="text-right">@Utilities.FormatNullableInt(stateData.DeathProbable)</td>
                <td class="text-right">@Utilities.FormatNullableInt(stateData.HospitalizedCumulative)</td>
                <td class="text-right">@Utilities.FormatNullableInt(stateData.HospitalizedIncrease)</td>
                <td class="text-right">@Utilities.FormatNullableInt(stateData.InIcuCumulative)</td>
                <td class="text-right">@Utilities.FormatNullableInt(stateData.InIcuCurrently)</td>
                <td class="text-right">@Utilities.FormatNullableInt(stateData.Negative)</td>
                <td class="text-right">@Utilities.FormatNullableInt(stateData.NegativeTestsViral)</td>
                <td class="text-right">@Utilities.FormatNullableInt(stateData.OnVentilatorCumulative)</td>
                <td class="text-right">@Utilities.FormatNullableInt(stateData.OnVentilatorCurrently)</td>
                <td class="text-right">@Utilities.FormatNullableInt(stateData.Pending)</td>
                <td class="text-right">@Utilities.FormatNullableInt(stateData.Positive)</td>
                <td class="text-right">@Utilities.FormatNullableInt(stateData.PositiveCasesViral)</td>
                <td class="text-right">@Utilities.FormatNullableInt(stateData.PositiveIncrease)</td>
                <td class="text-right">@Utilities.FormatNullableInt(stateData.PositiveTestsViral)</td>
                <td class="text-right">@Utilities.FormatNullableInt(stateData.Recovered)</td>
                <td class="text-right">@Utilities.FormatNullableInt(stateData.TotalTestResults)</td>
                <td class="text-right">@Utilities.FormatNullableInt(stateData.TotalTestResultsIncrease)</td>
                <td class="text-right">@Utilities.FormatNullableInt(stateData.TotalTestsViral)</td>
            </tr>
        }
    </tbody>
</table>