@model IEnumerable<UnitedStatesData>

<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Death</th>
            <th>Death Increase</th>
            <th>Hospitalized Cumulative</th>
            <th>Hospitalized Currently</th>
            <th>In ICU Cumulative</th>
            <th>In ICU Currently</th>
            <th>Negative</th>
            <th>Negative Increase</th>
            <th>On Ventilator Cumulative</th>
            <th>On Ventilator Currently</th>
            <th>Pending</th>
            <th>Positive</th>
            <th>Positive Increase</th>
            <th>Recovered</th>
            <th>Total Test Results</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usData in Model)
        {
            <tr>
                <td class="text-right">@usData.Date.ToShortDateString()</td>
                <td class="text-right">@Utilities.FormatNullableInt(usData.Death)</td>
                <td class="text-right">@Utilities.FormatNullableInt(usData.DeathIncrease)</td>
                <td class="text-right">@Utilities.FormatNullableInt(usData.HospitalizedCumulative)</td>
                <td class="text-right">@Utilities.FormatNullableInt(usData.HospitalizedCurrently)</td>
                <td class="text-right">@Utilities.FormatNullableInt(usData.InIcuCumulative)</td>
                <td class="text-right">@Utilities.FormatNullableInt(usData.InIcuCurrently)</td>
                <td class="text-right">@Utilities.FormatNullableInt(usData.Negative)</td>
                <td class="text-right">@Utilities.FormatNullableInt(usData.NegativeIncrease)</td>
                <td class="text-right">@Utilities.FormatNullableInt(usData.OnVentilatorCumulative)</td>
                <td class="text-right">@Utilities.FormatNullableInt(usData.OnVentilatorCurrently)</td>
                <td class="text-right">@Utilities.FormatNullableInt(usData.Pending)</td>
                <td class="text-right">@Utilities.FormatNullableInt(usData.Positive)</td>
                <td class="text-right">@Utilities.FormatNullableInt(usData.PositiveIncrease)</td>
                <td class="text-right">@Utilities.FormatNullableInt(usData.Recovered)</td>
                <td class="text-right">@Utilities.FormatNullableInt(usData.TotalTestResults)</td>
            </tr>
        }
    </tbody>
</table>